/* Renk Değişkenleri */
:root {
    --indigo: #3F51B5;
    --white: #FFFFFF;
    --amber: #FFC107;
    --blueGrey: #607D8B;
    --bgColor: #F6F8FF;
}

header {
    background-color: var(--indigo);
    height: 90px;
}

header .container {
    padding: 14px 40px;
    display: flex;
    justify-content: space-around;
}

header .container a {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    transition: .2s linear;
}

/* Linklerin üzerine gelindiğinde renk değişimi */
header .container a:hover {
    color: var(--amber);
}

header .logo-part {
    display: flex;
    align-items: center;
}

header .logo-part .title-link {
    margin-left: 16px;
}

header .nav-part {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Geçici Alan */
section {
    text-align: center;
    height: 200px;
    padding: 10px;
    background-color: var(--bgColor);
    margin: 20px;
    border: 2px solid var(--amber);
    border-radius: 20px;
}

/* Alt Başlık */
footer .container {
    background-color: var(--blueGrey);
    height: 60px;
    padding: 20px 40px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

footer .container .info-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

footer .container .social-buttons {
    display: flex;
    gap: 30px;
}